modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001

[[ports]]
localPort = 3002
externalPort = 80

[[ports]]
localPort = 3004
externalPort = 3000

[[ports]]
localPort = 3005

[[ports]]
localPort = 3030
externalPort = 3001
